html, body {
  margin:0px;
}

.App {
  text-align: center;
  height:100%;
}

.background{
  position:absolute;
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  background-image: url("./img/doggobackground.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

img {
  max-width: 100%;
  max-height: 100%;
 }
.doggo {
  display:block;
  margin:auto;
  align-items: center;
  height: 800px;
  width: 800px;
 }

 @media only screen and (max-width: 800px) {
  img {
    max-width: 100%;
    max-height: 100%;
   }
  .doggo {
    display:block;
    margin:auto;
    align-items: center;
    height: 400px;
    width: 400px;
   }
}

@media only screen and (max-height: 950px) {
  img {
    max-width: 100%;
    max-height: 100%;
   }
  .doggo {
    display:block;
    margin:auto;
    align-items: center;
    height: 500px;
    width: 500px;
   }
}

@media only screen and (max-height: 550px) {
  img {
    max-width: 100%;
    max-height: 100%;
   }
  .doggo {
    display:block;
    margin:auto;
    align-items: center;
    height: 200px;
    width: 200px;
   }
}




.button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
  background-color: #000000;
  }
.button:hover{
  color:#000000;
  background-color:#FFFFFF;
  }
